<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Показать</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>
<p th:text="${person.getPerson_id()}">VALUE</p>

<button th:onclick="|window.location.href='@{/people/{person_id}/edit(person_id=${person.getPerson_id()})}'|">Редактировать</button>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPerson_id()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>